.adminProductsSearchInput-container{
    width: 70%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.adminProductsSearchInput{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}