* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.products-cart-total-form-container {
    width: 100%;
}

.products-cart-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 80px);
    width: 100%;
    margin-top: 10px;
}

.products-cart-section-grid-item:last-child {
    grid-column: 1 / span 3; /* Alternativa para ocupar tres columnas */
    display: grid; /* Asegura que el contenido interno respete el grid */
    justify-items: stretch; /* Asegura que el contenido se estire */
}

.products-cart-section-grid-item:last-child .products-cart-section-grid-item-button {
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    margin: 0; /* Elimina márgenes automáticos */
    display: block; /* Se comporta como un elemento de bloque */
    box-sizing: border-box; /* Incluye padding y bordes en el ancho */
}

.products-cart-h2 {
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.products-cart-input-first {
    border: 2px solid #000;
    background: transparent;
    padding: 10px;
    width: 95%;
}

.products-cart-input {
    border: 2px solid #000;
    background: transparent;
    padding: 10px;
    width: 90%;
}

.products-cart-select {
    background: transparent;
    border-bottom: 2px solid #000;
    padding: 10px;
    display: block;
    width: 90%;
}

.products-cart-label {
    font-weight: bold;
    width: 100%;
}

.products-cart-section-grid-item-button {
   margin: auto;
   width: 100%;
   grid-column: 1 / span 3; /* Asegura que el contenedor abarque las tres columnas */
   display: flex; /* Asegura que el contenido interno se alinee correctamente */
   justify-content: center; /* Centra el botón horizontalmente */
}

.products-cart-form-button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    /* margin-top: 20px; */
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.products-cart-section-grid-item-button .products-cart-form-button {
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    margin: 0; /* Elimina márgenes automáticos */
}