.login_global_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}

.login_navbar_container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.login_img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: 0.5;
}

.login_form_container {
    position: absolute;
    width: 30%;
}

.login_navlink_container{
    margin-top: 10px;
}

.login_navlink{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}