.users-admin-page-container {
    width: 100vw;
    height: 100vh;
}

.navbar-users-admin-container {
    width: 100vw;
    height: 22vh;
    position: fixed;
    background-color: #dbd6d6;

}

.form-search-users-admin-container {
    width: 100vw;
    display: flex;
    height: 100vh;
}

.form-users-admin-container {
    width: 25vw;
    margin: auto 30px;
    position: fixed;
    top: 10vh;
}

.search-users-admin-container {
    width: 70vw;
    margin-top: 14vh;
    margin-left: 28%;
}

.search-users-admin {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.info-users-admin {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.info-users-admin h4 {
    margin: auto;
    padding: 10px;
}

.info-users-admin button {
    margin: auto;
    padding: 5px;
}