* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.products-total-form-container {
    width: 100%;
}

.products-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 110px);
    width: 100%;
    margin-top: 20px;
}

.products-section-grid-item:nth-child(1) {
    grid-column: 1/3;
}

.products-input-first {
    border: 2px solid #000;
    background: transparent;
    padding: 10px;
    width: 95%;
}

.products-input {
    border: 2px solid #000;
    background: transparent;
    padding: 10px;
    width: 90%;
}

.products-select {
    background: transparent;
    border-bottom: 2px solid #000;
    padding: 10px;
    display: block;
    width: 90%;
}

.products-check-label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products-check-label {
    font-weight: bold;
    margin: auto;
}

.products-check-input {
    margin: auto;
   margin-bottom: 40px;
}

.products-label {
    font-weight: bold;
    width: 100%;
}

.products-form-button {
    width: 90%;
    height: 30%;
    margin: 2px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}