.image-card-container {
    width: 180px;
    height: 180px;
   margin: auto;
}   

.image-card {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}


.price-card {
    padding: 10px;
    font-weight: bold;
}

.button-card {
    padding: 10px;
    background-color: transparent;
}