* {
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.nav {
    position: fixed;
    top: 10%;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.nav_ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.nav_li {
    color: #fff;
    display: inline-block;
    font-size: 17px;
}

.active {
    color: #000;
}

.active:hover {
    color: #bbb;
}

.no_active{
    color: #626060;
}

.no_active:hover {
    color: #bbb;
}

@media only screen and (max-width: 500px) {

    .nav_ul {
        width: 90%;
    }

    .nav_li {
        font-size: 15px;
    }

}