* {
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.no_transp_nav {
    position: fixed;
    top: 0%;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd6d6;
}

.nav_ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.nav_li {
    color: #fff;
    display: inline-block;
    font-size: 17px;
}

.active {
    color: #000;
}

.active:hover {
    color: #bbb;
}

.no_active {
    color: #626060;
}

.no_active:hover {
    color: #bbb;
}

.cart-badge-container {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
}

@media only screen and (max-width: 500px) {

    .nav_ul {
        width: 90%;
    }

    .nav_li {
        font-size: 15px;
    }

}