.filter-container {
    cursor: pointer;
    width: 100%;
    display: block;
    justify-content: center;
    margin-top: 100px;
}

.filter-container h4 {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.filter-container h5 {
    text-align: center;
    margin-top: 4px;
}

.filter-container h5:hover {
    color: #bbb;
}

.selected-filter {
    font-weight: bold;
    text-decoration: underline;
}

.filter-container button {
    display: block;
    margin: 0 auto 10px auto;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #6a6868;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.filter-container button:hover {
    background-color: #bbb;  
}